<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" 
        th:replace="~{ base :: layout(~{::title} , ~{::section}) }">
<head>
<meta charset="ISO-8859-1">
<title>Emp save form</title>
</head>
<body>
		<section>
			<div class="container mt-2">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center">
							<p class="fs-4">Register page</p>
							
							
							<th:block th:if="${session.msg}">
								<p class="fs-5 text-center text-success ">[[${session.msg}]]</p>
								
								<!--<th:block th:text="${@UserServiceImpl.removeSessionMeassage()}"> 
									</th:block> -->
								
							</th:block> 
							
							
						</div>
						<div class="card-body">
							<form action="saveUser" method="post">
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Enter Full
										Name </label> <input type="text" class="form-control" name="name">
								</div>
								
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Enter Qualification
										</label> <input type="text" class="form-control" name="qualification">
								</div>

								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Enter Email
										</label> <input type="email" class="form-control" name="email">
								</div>

								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Enter Address
									</label> <input type="text" class="form-control" name="address">
								</div>

								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Gender
									</label>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="geneder"
											id="inlineRadio1" value="Male"> <label
											class="form-check-label" for="inlineRadio1">Male</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="geneder"
											id="inlineRadio2" value="Female"> <label
											class="form-check-label" for="inlineRadio2">Female</label>
									</div>

								</div>

								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Enter Password</label>
									<input type="password" class="form-control" name="password"
										id="exampleInputPassword1">
								</div>

								<button class="btn btn-primary col-md-12">Register</button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
		

</body>
</html>